@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Russo+One&display=swap');
:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-light-grey2: #d5d2d2;
  --primary-orange: #FF871A;
  --primary-green: #4AB834;
  --primary-blue: rgba(8, 131, 238, 0.947);
  --primary-dark2: rgb(52, 58, 64);
  --primary-grey: rgb(44, 48, 52);
  --primary-black: rgb(6, 7, 7);
  --primary-med-grey: rgb(157, 157, 157);
  --primary-red: #f04019;
  --primary-hover-red: #d5320e;
  --primary-pink: #f47878;
}

body {
  font-family: 'Russo One', monospace !important;
  font-weight: 200 !important;
}

/**********NAVBAR*******/

nav {
  z-index: 2;
  border: 0.2px blur rgb(104, 103, 103);
  border: 0.8px blur rgb(29, 29, 29);
  box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.11);
}

.logo {
  width: 19rem;
  height: auto;
}

.logo:hover {
  width: 19rem;
  height: auto;
  transition: transform 250ms;
  transform: translateY(-2px);
}

/********LINKS**********/

.nav a.nav-link {
  font-weight: 100;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--primary-black) !important;
  background: var(--primary-light-grey);
  border: 0.1rem solid;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

@media(max-width: 767px) {
  .navbar-brand {
    max-width: 5rem;
  }
}

.navbar-nav>li>a.active, .navbar-nav>li>a:focus {
  border: 0.1rem solid;
  background: var(--primary-pink);
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.20);
}

.navbar-nav>li>a:hover {
  background: var(--primary-pink);
  border: 0.1rem solid;
  transition: transform 250ms;
  transform: translateY(-0.1rem);
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.20);
}

/**********MAPS*******/

.map-wraper {
  position: relative;
  height: 90vh;
  border-bottom: 1px solid var(--primary-black);
}

.map-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  color: var(--primary-hover-red);
  text-transform: uppercase;
  background: var(--primary-light-grey2);
}

.map-window {
  width: 80%;
  height: 70%;
  border: 0.15rem solid var(--primary-black);
  background: var(--primary-light-grey);
}

/************* ABOUT US*********/

.aboutUs {
  position: relative;
  margin-top: 5rem;
  padding-top: 1rem;
  max-width: 100% !important;
  height: 90vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--primary-black);
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 95%;
  border-radius: 20px;
  padding: .4rem;
  border: 2px solid var(--primary-red);
}

.about-heading {
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: var(--primary-red);
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/**********Services*******/

.services {
  text-align: center;
  padding-bottom: 2rem;
  background-color: var(--primary-light-grey);
  border-bottom: 1px solid var(--primary-black);
}

.services h1 {
  color: var(--primary-red);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-red);
  border-radius: 20%;
  width: 3.7rem;
  height: 3.5rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-logo {
  width: 3.5rem;
  height: 3rem;
  background: transparent;
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-logo-rim {
  width: 3.2rem;
  height: 2.8rem;
  background: transparent;
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 18rem;
  border-radius: 20px;
  border-bottom: 0.3125rem solid var(--primary-red);
  border: 0.001rem solid var(--primary-black);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-light-grey);
}

.services .box:hover {
  background: var(--primary-pink);
  transition: transform 250ms;
  transform: translateY(-0.1rem);
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.4);
}

.services .box:hover .icon {
  color: var(--primary-dark2);
}

.services .box:hover .circle {
  background: var(--primary-white);
}

.services .box:hover p {
  color: var(--primary-white);
}

.services .box:hover h3 {
  color: var(--primary-white);
}

/**********Contact-me******/

.contacts {
  background: var(--primary-med-grey);
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacts h1 {
  color: var(--primary-hover-red);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-black);
  font-size: 1.2rem;
}

/**********Inputs******/

.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark2);
  border-radius: 0;
  color: var(--primary-black);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
}

.contacts .container {
  padding: 2rem 0;
  padding-bottom: 1rem;
  max-width: 90%;
  border: 2px solid var(--primary-red);
  border-radius: 20px;
  margin: auto;
  background: var(--primary-light-grey2);
}

.contacts .container:hover {
  padding: 2rem 0;
  padding-bottom: 1rem;
  max-width: 90%;
  border: 2px solid var(--primary-red);
  border-radius: 20px;
  margin: auto;
  background: var(--primary-light-grey2);
  transition: transform 250ms;
  transform: translateY(-0.1rem);
  box-shadow: 1px 1px 7px 3px rgba(0, 0, 0, 0.20);
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-black);
  border-bottom: 0.125rem solid var(--primary-dark2);
}

.contacts textarea {
  height: 12.2rem !important;
}

.line {
  position: relative;
  top: -0.75rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-red);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.33rem 0;
}

.contact-button {
  margin: 0 0 0 0;
  width: 45% !important;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: absolute;
  transform: translateX(-50%);
  background: none;
  border-radius: 15px;
  color: var(--primary-black);
  background: var(--primary-hover-red);
  outline: 0 !important;
}

.contact-button:hover {
  margin: 0 0 0 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: absolute;
  transform: translateX(-50%);
  transition: 200ms ease-in-out;
  background: var(--primary-red);
  border-radius: 15px;
  outline: 0 !important;
}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0.125rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  text-decoration: none;
  border-radius: 15px;
  margin: 1rem;
}

.btn-main-offer:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
  text-decoration: none;
  border-radius: 15px;
  margin: 1rem;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-red);
  text-align: left;
  margin-top: 0.125rem;
}

.success-message {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-green);
}

/**********Media******/

@media(max-width: 767px) {
  .contacts {
    overflow-x: hidden;
  }
  .contacts .container {
    padding: 0 1rem;
  }
  .contacts p {
    padding: 0 0.8rem;
  }
}

/**********Footer******/

.footer {
  background: var(--primary-dark2);
  color: var(--primary-black);
  padding: 3rem;
  font-size: 1.25rem;
}

.footer a {
  color: var(--primary-black);
  text-decoration: none;
}

.footer a:hover {
  color: var(--primary-red);
  text-decoration: none;
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}

a.twitter {
  color: #49a1eb!important;
  margin: 10px;
}

a.linkedin {
  color: #0e76a8!important;
  margin: 10px;
}

a.facebook {
  color: #4968ad!important;
  margin: 10px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-4px);
}